@inherits ButtonCloseBase

<div class="row pb-1">
    <div class="col">
        <div class="close-btn-container">
            <button type="button" @onclick="@OnButtonClosed" class="btn-close close-btn" aria-label="Close"></button>
        </div>
    </div>
</div>