@page "/Tasks"
@inherits DevTaskListBase

<PageTitle>Task List</PageTitle>

<h3>Task List</h3>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Status</th>
            <th scope="col">Priority</th>
            <th scope="col">Title</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Tasks)
        {
            <tr>
                <td>@item.Status</td>
                <td>@item.Priority</td>
                <td>@item.Title</td>
            </tr>
        }
    </tbody>
</table>