@page "/Developer/Projects/Edit/{ProjectId}"
@inherits EditProjectBase

<EditForm EditContext="@editContext" OnSubmit="async () => await HandleSubmitAsync()">
    <DataAnnotationsValidator />
    <div class="row pb-2">
        <div class="form-group col-xl-12 col-md-12 col-sm-12">
            <label for="name" class="control-label">Name</label>
            <InputText @bind-Value="@ViewModelEdit.Name" id="name" class="form-control" />
            <ValidationMessage For="@(() => ViewModelEdit.Name)" />
        </div>
    </div>

    <div class="row pb-2">
        <div class="form-group col-xl-6 col-md-2 col-sm-12">
            <button disabled="@isInvalidForm" type="submit" class="btn btn-primary">Update</button>
        </div>
    </div>
</EditForm>